@use '../../generals/variables' as *;

.navbar-functions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(from $secondary-color r g b / 50%);
    backdrop-filter: blur(20px);
    padding: $space-xs $space-s;
}