@use 'variables' as *;
@use 'mixins' as *;

*{
  // border: 1px solid red;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Inter", serif;
  line-height: 1.5;
  color: $font-primary-color;
  color-scheme: light dark;
  background-color: $primary-background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $secondary-color;
}

a{
  font-weight: 700;
  color: $font-primary-color;
  text-decoration: none;
  &:hover{
    color: $primary-color;
  }
}

button{
  @include cta-button;
  cursor: pointer;
  transition: border-color .25s;
  &:disabled{
    background-color: grey;
    cursor: auto;
    &:hover{
      border: 1px solid transparent;
    }
  }
}

body {
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
